<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>AdminChecker</servlet-name>
        <servlet-class>controller.AddFacultyChecker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLoginChecker</servlet-name>
        <servlet-class>controller.AdminLoginChecker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddFacultyChecker</servlet-name>
        <servlet-class>controller.AddFacultyChecker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateFaculty</servlet-name>
        <servlet-class>controller.UpdateFaculty</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddStudentChecker</servlet-name>
        <servlet-class>controller.AddStudentChecker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStudent</servlet-name>
        <servlet-class>controller.UpdateStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentLoginChecker</servlet-name>
        <servlet-class>controller.StudentLoginChecker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FacultyLoginChecker</servlet-name>
        <servlet-class>controller.FacultyLoginChecker</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminChecker</servlet-name>
        <url-pattern>/AdminChecker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLoginChecker</servlet-name>
        <url-pattern>/AdminLoginChecker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddFacultyChecker</servlet-name>
        <url-pattern>/AddFacultyChecker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateFaculty</servlet-name>
        <url-pattern>/UpdateFaculty</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddStudentChecker</servlet-name>
        <url-pattern>/AddStudentChecker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStudent</servlet-name>
        <url-pattern>/UpdateStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentLoginChecker</servlet-name>
        <url-pattern>/StudentLoginChecker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FacultyLoginChecker</servlet-name>
        <url-pattern>/FacultyLoginChecker</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>OpeningPage.html</welcome-file>
    </welcome-file-list>
</web-app>
